<body><h1> Welcome Admin</h1>

  You have the access to following :<br><br>
1)  AddNewCustomer <br>
2)  ViewAllCustomer <br>
3)  AddPlans <br>
4)  ViewAllPlans <br>
5)  AddNewAccount <br>
6)  ViewAllAccount <br>
</body>
